/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea
phpunit*
app/SymfonyRequirements.php
app/check.php
dev/config.php.dist
dev/custom
codeception.yml
tests/_output
tests/api/ApiTester.php
tests/unit/UnitTester.php
tests/acceptance/AcceptanceTester.php

tests/_output/*
app/var/jwt/

dev/redis-cli.dev/css/*
!dev/redis-cli.dev/css/.gitkeep
dev/redis-cli.dev/fonts/*
!dev/redis-cli.dev/fonts/.gitkeep
dev/redis-cli.dev/js/*
!dev/redis-cli.dev/js/.gitkeep
