actor: Tester
paths:
    tests: tests
    log: tests/_output
    data: tests/_data
    helpers: tests/_support
settings:
    bootstrap: _bootstrap.php
    colors: true
    memory_limit: 1024M
modules:
    login:
        admin:
            username: admin
            password: admin

        publisher:
            username: mypub
            password: 123455

    params:  # these are ids of entity involve in the test: publisher owns site, site owns ad slot and ad slot owns ad tag. Ad tag is for ad network.
        publisher: 2
            adNetwork: 1
            site: 1
            adSlot: 1
            nativeAdSlot: 2
            dynamicAdSlot: 3
            defaultAdSlot: 1
            expectedAdSlot: 1
            expectedAdSlot_2: 1
            adTag: 1
            # library feature
            libraryAdSlot: 1
            libraryDisplayAdSlot: 1
            libraryNativeAdSlot: 2
            libraryDynamicAdSlot: 3
            libraryDefaultAdSlot: 1
            libraryExpectedAdSlot: 1
            libraryExpectedAdSlot_2: 1
            libraryAdTag: 1
            # end - library feature

    config:
        Db:
            dsn: ''
            user: ''
            password: ''
            dump: tests/_data/dump.sql
