parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    mailer_port: 1025
    mailer_sender: tagcade.dev@gmail.com
    mailer_sender_name: Tagcade.dev
    password_resetting_link: http://localhost:9010/#/reset/changePassword

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    tc.base_tag_url:   http://tags.tagcade.dev

    tc.legacy.live_performance_report.redis_hosts: [127.0.0.1:6379] # host:port pairs

    tc.legacy.tag_cache.redis_host: 127.0.0.1
    tc.legacy.tag_cache.redis_port: 6379

    tc.statistics.number_previous_days_to_include: 7 # number of days included in statistics, counted from current day back.

    tc.billing.defaultCpmRate: 0.025
    tc.billing.thresholds:
        - {threshold: 100000000, cpmRate: 0.022}
        - {threshold: 250000000, cpmRate: 0.020}
        - {threshold: 500000000, cpmRate: 0.018}
        - {threshold: 750000000, cpmRate: 0.016}
        - {threshold: 1000000000, cpmRate: 0.014}
        - {threshold: 1500000000, cpmRate: 0.012}
        - {threshold: 2000000000, cpmRate: 0.010}
