parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    tc.base_tag_url:   http://tags.tagcade.dev

    tc.defaultBillingRate: 10

    tc.legacy.live_performance_report.redis_hosts: [127.0.0.1:6379] # host:port pairs
