parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    report_database_driver:   pdo_mysql
    report_database_host:     127.0.0.1
    report_database_port:     ~
    report_database_name:     symfony
    report_database_user:     root
    report_database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    base_tag_url: http://tags.tagcade.dev
